# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.sql
administration/migrations
DB_Backups

# Виртуальное окружение
venv/
env/
.env/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/
out/

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Файлы настроек
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Кэш
__pycache__/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.coverage
.coverage.*
coverage.xml
*.cover

# Статические файлы, собранные для продакшена
staticfiles/

# Резервные копии файлов
*~
*.bak
*.swp
*.swo

